@import '../../../global.scss';

.container {
    @include d-flex(column, center, flex-start);

    position: relative;
    padding-inline: 5.4rem;
    padding-top: 6rem;

    .container-title { display: none; }

    .wavy-divider {
        position: absolute;
        top: -.1vw;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;

        svg {
            width: 100vw;
            height: 73px;

            path { fill: $primary-color-light; }
        }

    }

    .section-title {
        font-size: 5vw;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .content {
        columns: 4;
        column-gap: 1rem;

        .card {
            position: relative;

            cursor: pointer;
            padding: 1.5rem 1rem;
            border: 1px solid $primary-black;
            border-radius: 1.5rem;
            text-align: center;
            break-inside: avoid;
            margin-bottom: 1rem;
            transition: all .5s ease;
            
            i {
                position: absolute;
                top: .5rem;
                right: .5rem;
                display: none;
            }

            .card-title {
                font-weight: 500;
                font-size: 1.8vw;
            }
            
            .card-desc {
                font-size: 1.1vw;
                margin-top: .8rem;
            }
            
            @media only screen and (min-width: 1024px) {
                &:hover {
                    color: $primary-white;
                    border-color: $primary-white;
                    background-color: $primary-color-light;
                    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
                }
            }

        }

        .card-no-content {
            font-size: 3vh;

            color: $primary-white;
            border-color: $primary-white;
            background-color: $primary-color-light;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        }
    }
}

// View for medium sized screen

.content-medium {
    columns: 3 !important;
}

// View for mobile screen
.d-none {
    display: none !important;
}

.container-mobile {
    padding-inline: 2rem;
    padding-top: 4rem;

    .container-title {
        display: block;
        font-family: 'portico-regular';
        font-size: 10vw;
        align-self: center;
        margin-bottom: 1rem;
    }

    .wavy-divider {
        svg {
            height: 35px;
        }
    }

    .content {
        @include d-flex(row, flex-start, center);
        width: 100%;
        overflow: none;
        columns: 0;

        .card {
            --width-portfolio-card: 70vw;
            width: var(--width-portfolio-card);
            flex: 0 0 var(--width-portfolio-card);
            transition: none;

            .card-title {
                font-size: 4.8vw;
            }
            
            .card-desc {
                font-size: 4vw;
            }
        }

        .card-active {
            color: $primary-white;
            border-color: $primary-white;
            background-color: $primary-color-light;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        }
    }
}