<div class="container about-us-container" 
    [ngClass]="{'container-medium': (isScreen == 'medium'), 'container-mobile': (isScreen == 'mobile')}">

    <div class="ellispe-01"></div>

    <div #containerFront class="container-front section-reveal">
        <div class="content">
            <div #textParallax class="section-title parallax-text-bg">
                About Us
            </div>
            <div class="section-desc about-us-text">
                <p>
                    Data really powers everything that we do, this quote from Jeff Wiener perfectly sums up
                    INSIGHT TELLERS. We Learn, We Comprehend, and We Deliver.  Being the best online
                    market research agency, we cater to all your marketing research needs through our
                    plethora of research services along with study design, execution, data processing, data
                    analysis and reporting. We are a professionally managed online market research firm that
                    caters to your local and global needs. 
                </p>
                <p>
                    Insight Teller's research team helps you solve the major business challenges so you can
                    capitalise in your industry and lead the market with ease. With our years of experience in
                    conducting marketing research in multiple geographies across the globe, we successfully
                    deliver quality results through our robust processes. 
                </p>
                <p>
                    With a meticulous team of highly distinguished senior management individuals, we provide
                    rich market research consulting and services in the most cost-effective manner. And that's
                    what sets us apart from the others in the industry. With offices across multiple cities, we
                    make it easy for you by offering our services with multilingual, multi-time zone support. 
                    We pride ourselves in our ability in providing exceptional marketing research services by
                    understanding the ins and outs of the industry in which your organisation serves.
                </p>
                <p>
                    We offer services in the Indian subcontinent, The Philippines, and the Middle East (UAE, KSA
                    and Egypt). It is the most professionally managed market research firm offering
                    comprehensive result-oriented services in many parts of the world.
                </p>
            </div>
            <div class="section-vector__art illustration">
                <!-- <app-illustration-aboutus_01></app-illustration-aboutus_01> -->
                <img src="assets/vectors/about-us-1.webp" alt="Storyset illustartion vector - about us illustration">
            </div>
        </div>
    </div>

    <div #containerBack class="our-values container-back section-reveal">
        <div class="content">
            <div class="section-title">
                Values
            </div>
            <div class="section-desc">
                <h4>Insight's main profit is clients' trust and delight</h4>
                <p>
                    At Insight Tellers we believe we only succeed when our clients succeed. No matter how much we leverage
                    technology, it doesn't help us run our enterprise, it's our relationship with our clients. Building
                    relationships is our core value, we thrive to deliver results as per your needs and requirements.
                </p>
                <p>
                    What's good about the data if it is of no use. That's why at Insight Tellers, we only focus on delivering
                    quality data which ensures your time and money is valued to every extent. As the leading market research
                    company our team values your business by providing useful market research data collection and making sure we
                    are your one-stop solution for all your research needs. From Questionnaire Designing to Translation, from
                    Survey programming to Comprehensive Data collection, We also delivers statistical analysis.
                </p>
            </div>
            <div class="section-vector__art">
                <!-- <app-illustration-aboutus_02></app-illustration-aboutus_02> -->
                <img src="assets/vectors/about-us-2.webp" alt="Storyset illustartion vector - about us illustration">
            </div>
        </div>
    </div>
</div>